*.iml
.gradle
.kotlin
.idea
.fleet

**/build/
xcuserdata
!src/**/build/
local.properties
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

web/js/*
node_modules
kotlin-js-store
xcuserdata/
Pods/
*.jks
*yarn.lock
